<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="center"class="signup-form">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center"fxLayoutGap="10px">
            <h1 class="mat-display-2" style="margin-bottom: 15px;">Sign Up</h1>
            <mat-form-field>
                <input matInput type="text" formControlName="firstName" placeholder="Firstname">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" formControlName="lastName" placeholder="Lastname" >
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" formControlName="email" placeholder="Email"  email>
            </mat-form-field>
            <div formGroupName="passwordForm" fxLayout="column" fxLayoutAlign="center"fxLayoutGap="10px">
                <mat-form-field>
                    <input matInput type="password" formControlName="password" placeholder="Password">
                    <!-- <mat-hint align="end"> {{ passwordForm.value?.password.length }} / 8</mat-hint> -->
                    <mat-hint>Password must contain at least 8 characters</mat-hint>
                    <!-- <mat-error *ngIf="(signupForm.value.password.length < 8 ? true : false)">Password is too short.</mat-error> -->
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password">
                    <mat-error>Passwords do not match.</mat-error>
                </mat-form-field>
            </div>
            <mat-form-field>
                <input matInput formControlName="birthdate" [matDatepicker]="picker" [max]="maxDate" placeholder="Birthdate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-checkbox matInput formControlName="agree" color="primary">Agree to Terms and Conditions.</mat-checkbox>
            <button mat-raised-button type="submit" color="primary" [disabled]="!signupForm.valid">Submit</button>
        </form>
    </div>
</div>
