<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onClose()">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/about" (click)="onClose()">
        <mat-icon>info</mat-icon>
        <span class="nav-caption">About</span>
    </a>
    <a mat-list-item routerLink="/contact" (click)="onClose()">
        <mat-icon>phone</mat-icon>
        <span class="nav-caption">Contact</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/signup" (click)="onClose()">
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Signup</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onClose()">
        <mat-icon>input</mat-icon>
        <span class="nav-caption">Login</span>
    </a>
</mat-nav-list>
