<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="center"class="login-form">
        <form [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center"fxLayoutGap="10px">
            <h1 class="mat-display-2" style="margin-bottom: 15px;">Login</h1>
            <mat-form-field>
                <input matInput type="text" formControlName="email" placeholder="Email" email>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" formControlName="password" placeholder="Password" >
            </mat-form-field>
            <mat-checkbox formControlName="remember" color="primary">Remeber me</mat-checkbox>
            <button mat-raised-button type="submit" color="primary">Submit</button>
        </form>
    </div>
</div>