<mat-toolbar color="primary">
    <div fxLayout fxLayoutAlign="start">
        <a routerLink="/" fxLayout>
            <mat-icon class="navbar-brand">cloud</mat-icon>
            <p>{{ title }}</p>
        </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="nav-items">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/signup">Signup</a></li>
            <li><a routerLink="/login">Login</a></li>
        </ul>
    </div>
</mat-toolbar>