
a {
    text-decoration: none;
    color: white;
}
  
a:hover,
a:active {
    color: lightgray;
}
  
.nav-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-brand {
    font-size: 30px;
    padding-top: 18px;
    padding-right: 10px;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}